/**
 * Typography Styles
 * Layout and text styling rules
 */

/* FGO Main Font - 游戏原生字体 */
@font-face {
  font-family: 'FGO-Main';
  src: url('/FGO-Main-Font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Base text styles */
.vp-doc p {
    line-height: 27px;
}

/* Headings */
.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
    font-weight: 500;
    font-family: inherit;
}

/* Home page and navigation text */
.is-home,
.name .text {
    font-family: inherit;
    font-size: 1.05em;
}
